/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.modal {
	overflow: hidden;
	padding: var(--size-4-4) 0;
}

.modal-title {
	padding: 0 var(--size-4-4);
}

.modal-breadcrumbs-container {
	padding: 0 var(--size-4-4) var(--size-4-2) var(--size-4-4);
	border-bottom: 1px solid var(--background-secondary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.breadcrumb-clickable {
	text-decoration: underline;
	cursor: pointer;
}

.modal-results {
	padding-left: var(--size-4-4);
}

.modal-controls {
	padding: var(--size-4-4) var(--size-4-4) 0 var(--size-4-4);
	display: flex;
	justify-content: flex-end;
	gap: var(--size-4-2);
	border-top: 1px solid var(--background-secondary);
}
